<div class="footer-container">
  <!-- Logo -->
  <!-- Social Media Links -->
  <div class="footer-socials">
    <a href="https://facebook.com" target="_blank" class="footer-social-link">
      <i class="fa fa-facebook" title="Facebook"></i>
    </a>
    <a href="https://instagram.com" target="_blank" class="footer-social-link">
      <i class="fa fa-instagram" title="Instagram"></i>
    </a>
  </div>

  <!-- Copyright Section -->
  <p class="footer-copyright">Copyright {{ now.Year }}. All rights reserved.</p>
</div>
